{% extends "bootstrap/base.html" %}

{% block title %}Воткинские чики{% endblock %}
{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
{% endblock %}

{% block content %}
  <h1>Выбирай чику, которая круче</h1>
  <div class='pair'>
    <div class='girl'>
      <a href='vote?winner={{pair[0]._id}}&loser={{pair[1]._id}}'>
        <img src='{{pair[0].photo}}'>
        <br>
        <h3>{{pair[0].name}}</h3>
        <br>
        <span class='number'>{{pair[0].rating}}</span>
      </a>
    </div>

    <div class='girl'>
      <a href='vote?winner={{pair[1]._id}}&loser={{pair[0]._id}}'>
        <img src='{{pair[1].photo}}'>
        <br>
        <h3>{{pair[1].name}}</h3>
        <br>
        <span class='number'>{{pair[1].rating}}</span>
      </a>
    </div>
  </div>

  <div class='rating'>
    <h2>Рейтинг</h2>
    {% for girl in girls %}
      <div class='girl'>
        <img src='{{girl.photo}}'>
        <br>
        <h3><a href='{{girl.link}}'>{{girl.name}}</a></h3>
        <br>
        <span class='number'>{{girl.rating}}</span>
      </div>
    {% endfor %}
  </div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55172812-3', 'auto');
  ga('send', 'pageview');

</script>
{% endblock %}
